<%- layout("./client/layouts/layout") %>
<div class="row py-4">

  <h3>Search results from "<%= searchQuery %>":</h3>

  <% for (let p of results){ %> 
    <div class="col-md-2 product-item">
      <a class="product-link" href="/products/<%= p._id %>">
      <img src="<%= p.images.default.url %>" alt="" class="img-thumbnail">
      <h6>
         <%= p.name %>
      </h6>
      <div>₱ <%= p.price %></div>
      <div>
         <img src="/img/star-rating/<%= p.rating %>.png" width="86"/>
      </div>
      <div>
         <%= p.sold %> sold
      </div>
      </a>
    </div>
  <% } %> 
</div>