<%- layout("./client/layouts/layout") %>

<div class="row pt-4">
   <h1>
      All Products
   </h1>
</div>

<div class="row py-4">
   <div class="col-lg-2 col-md-12">
      <ul>
         <h4>Filter</h4>
         <li>Category</li>
         <li>Category</li>
         <li>Category</li>
         <li>Category</li>
         <li>Category</li>
         <li>Category</li>
      </ul>
   </div>
   <div class="col-lg-10 col-md-12">
      <div class="row">
         <% for (let p of products) { %>
            <div class="col-md-2 col-sm-6 col-xs-6 product-card pb-2">
               <a class="product-link" href="/products/<%= p._id %>">
                  <img src="<%= p.images.default.url %>" alt="" class="img-thumbnail img-fluid">
                  <div class="name-product">
                     <% if (p.name.length > 30){ %> 
                        <%= p.name.split('').slice(0, 30).join('').concat("...") %> 
                     <% } else { %>
                        <%= p.name %>
                     <% } %>  
                  </div>
                  <div class="product-price">₱ <%= p.price %></div>
                  <div>
                     <img src="/img/star-rating/<%= p.rating %>.png" width="86"/>
                  </div>
                  <div>
                     <%= p.sold %> sold
                  </div>
               </a>
            </div>
         <% } %>
      </div>
   </div>
</div>