<%- layout("./client/layouts/layout") %>

<div class="row py-4">
  <div class="col-md-4">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="<%= product.images.default.url %>" class="d-block w-100" alt="...">
        </div>
        <% for (let img of product.images.list){ %> 
        <div class="carousel-item">
          <img src="<%= img.url %>" class="d-block w-100" alt="...">
        </div>
        <% } %> 
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="col-md-8 product-details">
    <div>
      <h1 class="product-name"><%= product.name %> </h1>
    </div>
    <div>
      <img src="/img/star-rating/5.png" alt="" width="100">
    </div>
    <div>
      <h2 class="price">₱ <%= product.price %> </h2>
    </div>
    
    <div class="mb-1">
      <form action="/addtocart" method="POST">
        <div class="amount-container">
          <div class="mb-2">
            <label for="amount" class="text-muted"><small>Quantity: </small></label>
            <span class="amtController" id="decrement">&minus;</span>
            <input type="number" name="amount" id="amount" min="0" value="1">
            <span class="amtController" id="increment">+</span>
          </div>
        </div>
        <button class="btn btn-primary atc-btn" name="addToCart" value="AddToCart" type="submit">Add to Cart</button>
        <button class="btn btn-primary bn-btn" name="addToCart" value="BuyNow" type="submit">Buy now</button>
      </form>
    </div>
    <hr>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3>Product Description</h3>
    <p id="description"><%- product.desc %> </p>
  </div>
  <div class="row">
    <div class="container-fluid" id="reviewContainer">
      reviews
    </div>
  </div>
</div>

<script>
  const inc = document.getElementById("increment");
  const dec = document.getElementById("decrement");
  const amount = document.getElementById("amount")

  function changeAmount (e) {
    if (e.target.textContent == "+") {
      var num = parseInt(amount.value);
      num = num + 1;
      amount.value = num;
      
    } else {
      if (amount.value == 0)
        return
      amount.value -= 1
    }
  }

  inc.addEventListener('click', changeAmount)
  dec.addEventListener('click', changeAmount)
</script>